/* Mengatur tampilan umum halaman */
body {
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    background-color: #d1e6eb;
    margin: 20px;
    line-height: 1;
}

/* Judul */
h1 {
    font-family: 'Georgia', serif;
    font-size: 32px;
    text-align: center;
    color: #3b46b4;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: bold;
}

/* Paragraf 1 */
.paragraf1 {
    font-size: 18px;
    color: #f1a235;
    text-align: justify;
    margin-bottom: 15px;
}

/* Paragraf 2 */
.paragraf2 {
    font-size: 17px;
    color: #d26f4e;
    text-align: justify;
    margin-bottom: 15px;
}

/* Paragraf 3 */
.paragraf3 {
    font-size: 17px;
    color: #6a1b9a;
    text-align: justify;
    margin-bottom: 15px;
}

/* Paragraf 4 */
.paragraf4 {
    font-size: 17px;
    color: #ad1457;
    text-align: justify;
    margin-bottom: 15px;
}

/* Paragraf 5 */
.paragraf5 {
    font-size: 17px;
    color: #000;
    text-align: justify;
    margin-bottom: 15px;
    font-style: italic;
}